@function map-deep-get($map, $keys...) {
  @each $key in $keys {
    $map: map-get($map, $key);
  }
  @return $map;
}

html {
	min-height: 100vh;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
  letter-spacing: 2px;
  user-select: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App.theme1 {
  @import "theme1";
  background-color: map-deep-get($app_general, "background");
  color: map-deep-get($app_general, "text");
  @import "core";
}

.App.theme2 {
  @import "theme2";
  background-color: map-deep-get($app_general, "background");
  color: map-deep-get($app_general, "text");
  @import "core";
}

.App.theme3 {
  @import "theme3";
  background-color: map-deep-get($app_general, "background");
  color: map-deep-get($app_general, "text");
  @import "core";
}

.App.theme4 {
  @import "theme4";
  background-color: map-deep-get($app_general, "background");
  color: map-deep-get($app_general, "text");
  @import "core";
}

.App.theme5 {
  @import "theme5";
  background-color: map-deep-get($app_general, "background");
  color: map-deep-get($app_general, "text");
  @import "core";
}

/*

.App.theme3 {
  @import "theme3";
  @import "core";
}

.App.theme4 {
  @import "theme4";
  @import "core";
}

.App.theme5 {
  @import "theme5";
  @import "core";
}

*/
