@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
	min-height: 100vh;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.keywordContainer Button {
	margin: 10px;
}

.keywordContainer {
	max-height: 320px;
	min-height: 320px;
	overflow-y: scroll;
}

.keywordButton {
	text-align: center;
	width: 95%;
}

.HeaderRow, .PinglistCol {
  text-align: center;
}

.rulePosition {
	display: block;
	min-height: 14px;
}

.rulePosition li {
	margin-bottom: 7px;
}

.RulesCol h1:first-child {
	margin:0;
	padding:0;
}

.HeaderRow {
	background: #000;
	margin-bottom: 5px;
}

.HeaderContent {
	padding: 15px 0;
}

.App {
	/* The most 'parent' layer which is overlaid by any 'child' layer, but contains them. */
	background-color: #b8d8e8; /* Background color */
	color: #000000; /* Text color */
}

.HeaderContent {
	/* The layer that contains the logo. */
	background-color: #41999e;
	color: #000000;
}

.ContentRow {
	/* The layer that contains both rules and pinglist layers. Experiment to see what it influences. */
	background-color: #e2f3ff;
	color: #000000;
}

.RulesCol {
	/* The rules layer. */
	color: #000000;
}

.rulePosition {
	/* Every single rule row. */
	
	color: #000000;
}

.PinglistCol {
	/* The pinglist layer. */
	background-color: #fff;
	color: #000000;
}

.PinglistCol {
	/* The pinglist layer. */
	background-color: #e2f3ff;
	color: #000000;
}

.PinglistSelectors {
	/* The layer of pinglist selectors ([Breed/Gender], [Type], [Are you selling?]). */
	background-color: #e2f3ff;
	color: #000000;
}

.keywordContainer {
	/* The layer which contains keyword buttons/boxes. */
	background-color: #ffffff;
	color: #000000;
}

.keywordContainer {
	/* The layer which contains keyword buttons/boxes. */
	background-color: #b8d8e8;
	color: #000000;
}

.keywordButton {
	/* Every single keyword box/button */
	/* State: usual. */
	background-color: #fafdff;
	color: #000000;
}

.keywordButton:disabled {
	/* Every single keyword box/button */
	/* State: disabled. */
	background-color: #fff;
	color: #000000;
}

.keywordButton:hover {
	/* Every single keyword box/button */
	/* State: cursor over the button. */
	background-color: #e2f3ff;
	color: #000000;
}

.keywordButton:active {
	/* Every single keyword box/button */
	/* State: button is being clicked. */
	background-color: #41999e;
	color: #fff;
}
.GenerateButton {
	/* Generate Pinglist Button */
	/* State: usual. */
	background-color: #fff;
	color: #000000;
}

.GenerateButton:disabled {
	/* Generate Pinglist Button */
	/* State: disabled. */
	background-color: #d0dbe3;
	color: #555;
}

.GenerateButton:hover {
	/* Generate Pinglist Button */
	/* State: cursor over the button. */
	background-color: #b8d8e8;
	color: #000000;
}

.GenerateButton:active {
	/* Generate Pinglist Button */
	/* State: button is being clicked. */
	background-color: #00f;
	color: #000000;
}

.CopyButton {
	/* Copy Pinglist Button */
	/* State: usual. */
	background-color: #ffffff;
	color: #000000;
}

.CopyButton:disabled {
	/* Copy Pinglist Button */
	/* State: disabled. */
	background-color: #ffffff;
	color: #000000;
}

.CopyButton:hover {
	/* Copy Pinglist Button */
	/* State: cursor over the button. */
	background-color: #b8d8e8;
	color: #000000;
}

.CopyButton:active {
	/* Copy Pinglist Button */
	/* State: button is being clicked. */
	background-color: #ffffff;
	color: #000000;
}

.ReadyPinglistServeContainer {
	/* The textarea where the generated pinglist is put. */
	background-color: #fafdff;
	color: #000000;
}

a:link{
    color:#109cc8;
}

.RulesCol {
	padding: 0 15px;
}

.PinglistCol {
	padding: 15px;
}

.RulesCol, .PinglistCol {
	display: block;
	border-left: 5px solid #b8d8e8;
	border-right: 5px solid #b8d8e8;
}

.RulesCol ul {
	padding: 25px;
}

/*
	I would like a bit of your important attention.
	To make a button out of any link, you can use:
	padding: Tpx Rpx Bpx Lpx;       replace T, R, B, L with the amount of pixels you want.
	background-color: #ffffff;			replace #ffffff with your own hex color.
	border: Wpx solid #000000;			replace W with button outline's width, #000000 with your hex color.
	border-radius: Npx;							replace N with how many pixels you want to dedicate to making edges smoother.
	color: #999999;									the color of the button's text; replace #999999 with your own hex color.
	
	Please, pretty PLEASE, don't repeat padding in all four link styles. mentioning in a:link is enough.
*/

.RulesCol a:link, .RulesCol a:visited {
	/* Untouched state of the button. */
	display:inline-block;
	padding:0.3em 1.2em;
	margin: 5px 0.1em 5px 0;
	border:0.16em solid rgba(255,255,255,0);
	border-radius:1em;
	box-sizing: border-box;
	text-decoration:none;
	font-family:'Roboto',sans-serif;
	font-weight:300;
	color: #FFF;
	text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
	text-align:center;
	transition: all 0.2s;
	background-color:#4e9af1;
	text-align: center;
}

.RulesCol a:hover {
	/* 'Cursor is over' state of the button. */
	text-decoration: none;
	border-color: rgba(255,255,255,1);
	border-radius:2em;
}

.pinglistBtnsRow {
	margin: 5px 0;
}

/* ============== */

.maintenancePage {
	background-color: #41999e;
	color: #ffffc7;
	min-height: 100vh;
	position: relative;
}

.maintenancePage div {
	position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
	text-align: center;
	font-family: Raleway;
}

.maintenancePage div a {
	color: #ffff00;
	text-decoration: underline;
}

.maintenancePage div h1 {
	font-weight: 700;
	font-size: 14em;
}

.maintenancePage div h2 {
	font-weight: 800;
	font-size: 3em;
}

.container h4 {
	margin: 15px 0;
}